.calculatorWrapper {
    background-color: darkcyan;
    height: 350px;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4px;
    padding: 6px;
    margin: auto;
}

.enterInputWrapper {
    display: grid;
    grid-column: 1 / 5;
    grid-row: 1;
}

.inputText {
    padding: 0 8px;
    font-size: 16px;
    text-align: right;
}

input[type='button'] {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background: #d2e5ea;
    border: 1px solid #d2e5ea;
    outline: none;
}

.equalToButton {
    grid-column: 4 / 5;
    grid-row: 5 / 7;
}

.zeroButton {
    grid-row: 6;
    grid-column: 2 / 4;
}
